.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }  
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   background-color:red;
   color: #0ddb28;
    
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/music.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1dd14a, 0 0 40px #0ddb28, 0 0 50px #15c715, 0 0 60px #0ac924, 0 0 70px #0ad42c;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ee1515, 0 0 40px #db1515, 0 0 50px #ee0c0c, 0 0 60px #eb0f0f, 0 0 70px #e00d0d, 0 0 80px #f00b0b;
    }
  }