.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }  
  body{
      background-image: url("/images/bl.jpg");
  }
  h1{
      color: red;
  }
  h2{
      color: green;
  }